#parm-header
{
	padding-top: 30px;
	padding-bottom: 10px;
}

#parm-header img
{
	height: 50px;
}

#parm-logo
{
}

#parm-search
{
	padding-top: 30px;
}

#parm-footer
{
	padding: 10px 10px 0 20px;
	margin-top: 300px;
	color: #ddd;
	border: 1px solid #eee;
}

#parm-footer a
{
	color: #BBDCF8;
}
