<script type="text/x-handlebars" data-template-name="index">
	<h1>Databases</h1>
	<div class="list-group">
		{{#each databases}}
			{{#link-to "database" databaseName class="list-group-item"}}
					{{databaseName}}
				{{/link-to}}
		{{/each}}
	</div>
</script>