<script type="text/x-handlebars" data-template-name="structure">
	
	<h1>Table Options</h1>
	<ol class="breadcrumb">
		<li>{{#link-to "index"}}Databases{{/link-to}}</li>
		<li>{{#link-to "database" databaseName}}{{databaseName}}{{/link-to}}</li>
		<li>{{#link-to "table" this}}{{tableName}}{{/link-to}}</li>
		<li class="active">Table Structure</li>
	</ol>
	
</script>